# streamlit
streamlit==1.46.0

# langchain
langchain==1.3.11
langchain-core
langchain-community
langchain-text-splitters

# langgraph
langgraph==1.2.6
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt
langgraph-sdk

langchain-google-genai
langchain-groq
langchain-tavily

google-genai
google-auth

groq
openai

python-dotenv

faiss-cpu
pypdf

requests

tavily-python


pysqlite3-binary